In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("C:\\Users\\Admin\\Downloads\\COURSE7 NIIT\\DS1_C7_S4_Project_BirdStrike_Data (1).xlsx")

In [3]:
df.head(2)

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23,Caused damage,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,30736,1500.0,0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,NaN,2001-07-25,Caused damage,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0.0,0,No

In [4]:
df.isnull().sum()

Record ID                                      0
Aircraft: Type                               129
Airport: Name                                129
Altitude bin                                 129
Aircraft: Make/Model                           0
Wildlife: Number struck                      129
Wildlife: Number Struck Actual                 0
Effect: Impact to flight                   23480
FlightDate                                   129
Effect: Indicated Damage                       0
Aircraft: Number of engines?                 267
Aircraft: Airline/Operator                   129
Origin State                                 449
When: Phase of flight                        129
Conditions: Precipitation                  23543
Remains of wildlife collected?                 0
Remains of wildlife sent to Smithsonian        0
Remarks                                     4771
Wildlife: Size                               129
Conditions: Sky                                0
Wildlife: Species                              0
Pilot warned of birds or wildlife?           129
Cost: Total $                                  0
Feet above ground                            129
Number of people injured                       0
Is Aircraft Large?                           129
dtype: int64

In [5]:
df.shape

(25558, 26)

In [6]:
df_conti=df.select_dtypes(include="number")

In [7]:
df_conti.columns

Index(['Record ID', 'Wildlife: Number Struck Actual', 'Cost: Total $',
       'Feet above ground', 'Number of people injured'],
      dtype='object')

In [8]:
df_categ=df.select_dtypes(include="object")

In [9]:
df.dtypes

Record ID                                           int64
Aircraft: Type                                     object
Airport: Name                                      object
Altitude bin                                       object
Aircraft: Make/Model                               object
Wildlife: Number struck                            object
Wildlife: Number Struck Actual                      int64
Effect: Impact to flight                           object
FlightDate                                 datetime64[ns]
Effect: Indicated Damage                           object
Aircraft: Number of engines?                       object
Aircraft: Airline/Operator                         object
Origin State                                       object
When: Phase of flight                              object
Conditions: Precipitation                          object
Remains of wildlife collected?                       bool
Remains of wildlife sent to Smithsonian              bool
Remarks                                            object
Wildlife: Size                                     object
Conditions: Sky                                    object
Wildlife: Species                                  object
Pilot warned of birds or wildlife?                 object
Cost: Total $                                       int64
Feet above ground                                 float64
Number of people injured                            int64
Is Aircraft Large?                                 object
dtype: object

In [10]:
df_categ.columns

Index(['Aircraft: Type', 'Airport: Name', 'Altitude bin',
       'Aircraft: Make/Model', 'Wildlife: Number struck',
       'Effect: Impact to flight', 'Effect: Indicated Damage',
       'Aircraft: Number of engines?', 'Aircraft: Airline/Operator',
       'Origin State', 'When: Phase of flight', 'Conditions: Precipitation',
       'Remarks', 'Wildlife: Size', 'Conditions: Sky', 'Wildlife: Species',
       'Pilot warned of birds or wildlife?', 'Is Aircraft Large?'],
      dtype='object')

In [11]:
df_bool=df.select_dtypes(include="bool")

In [12]:
df["Effect: Impact to flight"]=df["Effect: Impact to flight"].fillna("Not Availabel")

In [13]:
df["Conditions: Precipitation"]=df["Conditions: Precipitation"].fillna("Not Availabel")

In [14]:
df["Aircraft: Number of engines?"]=df["Aircraft: Number of engines?"].fillna("Not Availabel")

In [15]:
df["Remarks"]=df["Remarks"].fillna("Not Availabel")

In [16]:
df["Origin State"]=df["Origin State"].fillna("Not Availabel")

In [17]:
df["FlightDate"]=df["FlightDate"].fillna("Not Availabel")

In [20]:
my_columns=["Aircraft: Type","Airport: Name","Wildlife: Number struck","Altitude bin","Aircraft: Airline/Operator","When: Phase of flight","Wildlife: Size","Pilot warned of birds or wildlife?","Feet above ground","Is Aircraft Large?"]

In [21]:
for i in my_columns:
    df[i]=df[i].fillna(df[i].mode()[0])

In [22]:
df.isnull().sum()

Record ID                                  0
Aircraft: Type                             0
Airport: Name                              0
Altitude bin                               0
Aircraft: Make/Model                       0
Wildlife: Number struck                    0
Wildlife: Number Struck Actual             0
Effect: Impact to flight                   0
FlightDate                                 0
Effect: Indicated Damage                   0
Aircraft: Number of engines?               0
Aircraft: Airline/Operator                 0
Origin State                               0
When: Phase of flight                      0
Conditions: Precipitation                  0
Remains of wildlife collected?             0
Remains of wildlife sent to Smithsonian    0
Remarks                                    0
Wildlife: Size                             0
Conditions: Sky                            0
Wildlife: Species                          0
Pilot warned of birds or wildlife?         0
Cost: Total $                              0
Feet above ground                          0
Number of people injured                   0
Is Aircraft Large?                         0
dtype: int64

In [23]:
df.to_excel("c7_s4_bird_data.xlsx",index=False)